<html>
<head>
    <title></title>
</head>
<body>
    <h1>ADD BOOK</h1>
    <ul>
        <li> <a href="/books">Home</a> </li>
    </ul>
    <nav>
        <form action="/book" method="post">
            <lable for="title">Title:</lable>
            <input type="text" name="title" id="title" value="">
            <lable for="author">Author:</lable>
            <input type="text" name="title" id="author" value="">
            <label for="publisher">Publisher:</label>
            <select class="select" id="publisher" name="publisher_id">
                {% for publisher in publishers  %}
                <option value="{{publisher.getId()}}">{{publisher.getId()}}</option>
                {% endfor %}
            </select>
            <lable for="price">Price:</lable>
            <input type="number" name="title" id="price" value="">
            <button type="submit">Add</button>
        </form>
    </nav>
</body>
</html>