<html>
<head>
    <title>CREATE BOOK</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function features(url, method, data) {
                return $.ajax({
                    url: url,
                    method : method,
                    data   : data
                })
            }
            $("#add-new").click(function () {
                $("#Create").show()
            });
            $("#post").click(function () {
                features('/book', 'POST',{
                    title  : $("#title").val(),
                    author : $("#author").val(),
                    publisher_id : $("#publisher_id").val(),
                    price : $("#price").val(),
                })
            });
            $("#edit").click(function () {
                features('/update',"PUT",{
                    id : $("#id").val(),
                    title  : $("#title").val(),
                    author : $("#author").val(),
                    publisher_id : $("#publisher_id").val(),
                    price : $("#price").val(),
                }).then(value => {
                    console.log(value);
                })
            });
            $("#delete").click(function () {
                features('/delete',"DELETE",{
                    id : $("#id").val(),
                }).then(value => {
                    console.log(value);
                })
            });
            $("#get").click(function () {
                features('/books',"GET").then(value => {
                    console.log(value)
                    //console.log(value[0].title);
                })
            });
            $("#search-basic").click(function () {
                features('/search-basic', "GET", {
                    keyword : $("#keyword").val()
                }).then(value =>{
                    console.log(value);
                })
            });
            $("#search-advance").click(function () {
                features('/search-advance', "GET", {
                    title : $("#title").val(),
                    author : $("#author").val(),
                    publisher: $("#publisherName").val()
                }).then(value =>{
                    console.log(value);
                })
            });
            $('#title').keyup(function () {
                features("/search-title", 'get', {
                    title : $("#title").val()
                }).then(function (data) {
                    if (!data.length){
                        $('p').text("");
                    }else {
                        $('p').text("Title Already Taken !");
                    }
                    console.log(data);
                })
            });
        })
    </script>
</head>
<body>
    <h1>ADD BOOK</h1>
    <ul>
       <li> <a href="/books">Home</a> </li>
    </ul>
    <nav>
        <form>
            <lable>Title:</lable>
            <input type="text" name="title" id="title" value="">
            <p></p>
            <lable for="author">Author:</lable>
            <input type="text" name="author" id="author" value="">
            <label for="publisher_id">Publisher:</label>
            <select class="select" id="publisher_id" name="publisher_id">
                {% for publisher in publishers %}
                <option value="{{publisher.getId()}}">{{publisher.getName()}}</option>
                {% endfor %}
            </select>
            <lable for="price">Price:</lable>
            <input type="number" name="price" id="price" value="">
            <button id="post">Add</button>
        </form>
    </nav>
</body>
</html>