<html>
<head>
    <title></title>
</head>
<body>
    <h1>{{book.getTitle()}}</h1>
    <ul>
        <li> <a href="/books">Home</a> </li>
    </ul>
    <small>
        {{book.getAuthor()}}
    </small>
    <small>
        {{book.getPublisher().getName()}}
    </small>
</body>
</html>