<html>
<head>
    <title></title>
</head>
<body>
    <form action="/book" method="post">
        <div>
            <lable for="title"></lable><input type="text" name="title" id="title">
        </div>
        <div>
            <lable for="author"></lable><input type="text" name="title" id="author">
        </div>
        <div>
            <lable for="publisher"></lable><input type="text" name="title" id="publisher">
        </div>
        <div>
            <lable for="price"></lable><input type="text" name="title" id="price">
        </div>
    </form>
</body>
</html>