<html>
<head>
    <title>BookManager</title>
</head>
<body>
    <header>
        List of Book
    </header>
    <nav>
        <a href="#">Home</a> |
        <a href="#">Books</a> |
        <a href="#">Publishers</a>
        <form action="/search-basic" method="get" role="form">
            <div class="input-group">
                <input type="text" name="keyword" placeholder="Search for...">
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </form>
        <button type="submit" class="btn btn-default">Search Advance</button>
        <button type="submit">Add Book</button>
    </nav>

    <section>
        <ul>
            <% for(var i=0; i<books.length; i++) {%>
            <li>
                <form>
                    <label><%= books[i].title %></label>
                    <label><a href="/book/<%= books[i].id %>">Edit</a></label>
                    <label><a href="#">Delete</a></label>
                </form>
            </li>
            <%}%>
        </ul>
    </section>
</body>
</html>